description = "VueJs"

[viewBag]
==
{% set cdn = {
	'enabled'		: this.theme.cdnEnabled|default(true),
	'provider'	: this.theme.cdnProvider,
	'url'				: this.theme.cdnProviderBaseUrl,
} %}

{% set vuecfg = {
	'version'					: this.theme.jsFrameworkVersion,
	'uiFramework'			: this.theme.vueCssFramework,
	'uiFrameworkVer'	: this.theme.vueCssFrameworkVersion,
	'vueLoader'				: this.theme.vueLoader,
	'vuex'						: this.theme.vueVuex,
} %}

{% if cdn.enabled %}
	{% partial 'cdn/vue' cdn=cdn vuecfg=vuecfg %}
{% endif %}

{% partial 'scripts/vue-entrypoint' vuecfg=vuecfg %}