description = "Default Layout"

[staticPage]
useContent = 1
default = 1
==
{% partial 'common/license' %}
<!DOCTYPE html>
<html lang="en" data-layout="{{ this.layout.id }}" data-page="{{ this.page.id }}"
	class="h-100 csstransforms csstransforms3d csstransitions">
	<head>
		<link rel="canonical" href="{{ this.page.servername }}" />
		{% partial 'common/prefetch' %}
		{% partial 'common/meta' %}
		{% partial 'common/icons' %}
		{% partial 'common/typography' %}
		{% partial 'common/scripts' %}
		{% partial 'frameworks/'~this.theme.jsFramework %}
		<title>
			{{ this.page.title|default('')|_ }} | 
			{{ this.theme.siteName|default('Flexivue theme')|_ }}
		</title>
	</head>
	<body class="d-flex flex-column h-100" data-spy="scroll" data-offset="0" data-target="#mainMenu">
		<div class="">
			<noscript>
				<div class="alert alert-warning" role="alert">
					{{ 'You must enable javascript to view this page'|_ }}
				</div>
			</noscript>
		</div>
		
		<header id="header" class="bg-primary p-3"></header>
		<main id="main" role="content" class="app d-flex">
			{% page %}
		</main>
		<footer id="footer" class="bg-primary p-3"></footer>
		
		{% partial "common/colors" %}		
		{% styles %}

		{% scripts %}
	</body>
</html>